.InputItem {
  padding: 0 20px;
  width: 100%;
}

.name {
  margin: 0 0 5px 0;
}

.inputField {
  width: 100%;
  height: 40px;
  padding: 10px 10px;
  border: 2px solid rgba(200, 10, 20, 0.6);
  border-radius: 10px;
  font-size: 1.2em;
  outline: none;
}

.errorStatus {
  font-size: 1em;
  color: red;
  margin-top: 11px;
}
