.InputForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 340px;
  padding: 5px 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  background-color: rgb(231, 231, 231);
}

.name {
  font-size: 2em;
  align-self: flex-start;
}

.submitButton {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(38, 255, 248);
  border: none;
  outline: none;
  box-shadow: 0 0 5px rgb(30, 257, 240);
}

.submitButton:hover {
  background-color: aqua;
  box-shadow: 0 0 5px aqua;
}
